<footer class="footer">
    <div class="f-data">
    <h4>Day: <%= day%></h4>
    <h4>Time: <%= hour%>:<%= minute%> <%= end%></h4>
    </div>
    <h4>© Aditya Khattri</h4>
  </footer>
  
  <script type="text/javascript"></script>
</body>
</html>